.column {
	width: 49%;
	margin-right: .5%;
	min-height: 300px;
	background: #fff;
	float: left;
}

.column .dragbox {
	margin: 5px 2px 20px;
	background: #fff;
	position: relative;
	border: 1px solid #ddd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.column .dragbox h2 {
	margin: 0;
	font-size: 12px;
	padding: 5px;
	background: #f0f0f0;
	color: #000;
	border-bottom: 1px solid #eee;
	font-family: Verdana;
	cursor: move;
}

.dragbox-content {
	background: #fff;
	min-height: 100px;
	margin: 5px;
	font-family: 'Lucida Grande', Verdana;
	font-size: 0.8em;
	line-height: 1.5em;
}

.column  .placeholder {
	background: #f0f0f0;
	border: 1px dashed #ddd;
}

.dragbox h2.collapse {
	background: #f0f0f0 url('collapse.png') no-repeat top right;
}

.dragbox h2 .configure {
	font-size: 11px;
	font-weight: normal;
	margin-right: 30px;
	float: right;
}

.graphbox {
	align: center;
	border-bottom: 3px double #5C9CCC;
	border-top: 3px double #5C9CCC;
	border-right: 3px double #5C9CCC;
	border-left: 3px double #5C9CCC;
}

.graphbox h2 {
	Align: center;
	margin: 0;
	font-size: 12px;
	padding: 5px;
	margin-bottom: 5px;
	background: #ff00f0;
	color: #000;
	font-family: Verdana;
	background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%,
		rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%,
		rgba(246, 246, 246, 1) 100% );
}

.graphbox {
	align: center;
	border-bottom: 3px double #d0e4f7;
	border-top: 3px double #d0e4f7;
	border-right: 3px double #d0e4f7;
	border-left: 3px double #d0e4f7;
}

.dygraph-title {
	Align: center;
	margin: 0;
	padding: 5px;
	margin-bottom: 5px;
	background: #ff00f0;
	color: #FFFFFF;
	font-family: Verdana;
	background: #666666; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #666666 0%, #333333 50%, #333333 51%,
		#666666 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #666666),
		color-stop(24%, #333333), color-stop(50%, #222222),
		color-stop(79%, #333333), color-stop(100%, #666666) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #666666 0%, #333333 24%, #222222 50%,
		#333333 79%, #666666 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #666666 0%, #333333 24%, #222222 50%, #333333
		79%, #666666 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #666666 0%, #333333 24%, #222222 50%,
		#333333 79%, #666666 100%); /* IE10+ */
	background: linear-gradient(135deg, #666666 0%, #333333 24%, #222222 50%, #333333
		79%, #666666 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(       startColorstr='#666666',
		endColorstr='#87bcea', GradientType=1 );
	word-wrap: break-word;
	/* IE6-9 fallback on horizontal gradient */
}

/* dygraph legend */
.ensLabel {
	background-color: #000000;
	margin-top: 5px;
}

/* tab style */
.ui-tabs .ui-tabs-panel {
	padding: 0 0;
}

.ui-tabs .ui-tabs-nav li {
	height : 30px;
}

.ui-tabs .ui-tabs-nav li a {
	padding: 0.1em 1em;
}

/* jqGrid style */
.ui-jqgrid tr.jqgrow td {
     white-space: normal;
}

/* signal dialog style */
#signalPatternArea {
	margin-top: 10px;
}

#signalPatternItem {
	float: left;
}

#signalPatternValue {
	margin-left: 241px;
}

#signalName {
	width : 100%;
}

#matchingPattern {
	width : 100%;
}

#signalPatternValueArea {
	margin-top: 10px;
}

#signalPatternValueValue .dialogPatternValue div {
	float : left;
}

#signalPatternValueValue .dialogPatternValue input {
	margin-left : 20px;
	width : 100px;
}

#signalPatternValue_1 {
	float: left;
}

#signalPatternValue_2 {
	margin-top : 10px;
	margin-left: 160px;
}

#signalPatternValue_3 {
	float: left;
	margin-top: 10px;
}

#signalPatternValue_4 {
	margin-top : 10px;
	margin-left: 160px;
}

#signalPatternValue_5 {
	margin-top : 10px;
}

#signalEscalationPeriodArea {
	margin-top : 10px;
}
#signalEscalationPeriodItem {
	float : left;
}
#signalEscalationPeriodValue {
	float : left;
}
#escalationPeriod {
	margin-left: 35px;	
	width: 100px;
}
#signalEscalationPeriodUnit {
	margin-left: 289px;
}

/** signal tree settings */
.jstree-default a .signal_0 {
	background-position: -18px -90px;;
}

.jstree-default a .signal_1 {
	background-position: -1px -107px;
}

.jstree-default a .signal_2 {
	background-position: -1px -90px;
}

.jstree-default a .signal_3 {
	background-position: -36.3px -73.3px;
}

.jstree-default a .signal_4 {
	background-position: -2px -73.3px;
}

.jstree-default a .signal_5 {
	background-position: -18.5px -73.3px;
}