@CHARSET "UTF-8";

/* 共通定義個所 */
body {

}

/* wgpの設定を上書き。 */
.perspactive_drop_Area_all {
	top: 5px;
	border: none;
}

/* 半透明にしない部分の定義 */
#persArea_bar_0_0 {
	opacity: 1.0;
}

#persArea_bar_0_0 div {
	opacity: 1.0;
}

/* ヘッダ表示定義 */
.contentHeader {
	border: 7px outset #333333;
	margin: 10px 0px 0px 10px;
	overflow: auto;
}

.contentHeader h1 {
	font-size: 25px;
	margin: 10px 0px 10px 20px;
	float: left;
}

.contentHeader .logo {
	margin: 12px 10px 10px 0px;
	float: right;
	width: 120px;
	height: 26px;
	background-image: url("../images/ENdoSnipe_logo.png");
}

.ui-widget-header {
	color: #FFFFFF !important;
}

.ui-widget {
  font-size: 1.0em;
}

.ui-tabs-panel.ui-widget-content.ui-corner-bottom {
	padding: 0px 0px 0px 0px;
}

/* タブ内のpadding設定 */
.ui-tabs .ui-tabs-nav li a {
	padding: 0.2em 1em;
}

/* ページTopから描画領域までの隙間 */
.perspective_drop_Area_all {
	top: 50px;
}

/* グラフの背景色とラベルのタイトルのフォントカラーを設定する */
.graphbox {
	align: center;
	border-bottom: 10px solid #e1e5f1;
	border-top: 3px solid #e1e5f1;
	border-right: 3px solid #e1e5f1;
	border-left: 3px solid #e1e5f1;
}

.graphbox h2 {
	Align: center;
	margin: 0;
	font-size: 12px;
	padding: 5px;
	margin-bottom: 5px;
	font-family: Verdana;
}


/** セレクトボックスのオプション */
option {
	background: #FFFFFF;
}

/** MultipleResourceGraph */
#multipleResourceGraphItems {
	font-size: 0.7em;
}

select.dialogValue {
	font-size: 0.7em;
}

option.tooltip span {
	display: none;
	padding: 5px;
	margin: 8px;
}

option.tooltip:HOVER span {
	display: inline;
	position: absolute;
	border: 1px solid #24140E;
	border-radius: 0px;
	background: -moz-linear-gradient(top, #dddddd, #ffffff);
	background: -webkit-linear-gradient(left top, left bottom, #dddddd, #ffffff);
	color: #333333;
}

.headerTable {
	margin-right: auto;
	text-align: center;
}

.headerTable .ui-widget {
	font-size: 0.8em;
}

.dialogPatternValue {
	margin-top: 5px;
}

.levelLabel {
	width: 100px
}

div#contents_area_content {
	border-style: none;
}

.ensLabel {
	font-size: 12px;
	background-color: rgba(220, 220, 220, 0.8);
	position: absolute;
	overflow: visible;
	border: 3px solid #24140e;
	color: black;
	word-break: break-word;
	padding: 10px;
	border-radius: 10px;
	z-index: 20;
}

/* tab style */
.ui-tabs .ui-tabs-panel {
	padding: 0 0;
}

/* jqGrid style */
.ui-jqgrid tr.jqgrow td {
	white-space: normal;
	vertical-align: top;
}

.ui-jqgrid .ui-jqgrid-title {
	word-break: break-all;
}

.dygraph-title {
	Align: center;
	margin: 0;
	padding: 3px;
	margin-bottom: 5px;
	background: #ff00f0;
	/* width: 85%; */
	font-family: Verdana;
	background: #e1e5f1;
	filter: progid :       DXImageTransform.Microsoft.gradient ( 
		              
		   startColorstr =       '#666666', endColorstr =       '#87bcea',
		GradientType =       1 );
	word-wrap: break-word;
	font-family: Verdana;
	/* IE6-9 fallback on horizontal gradient */
}

td.ui-state-highlight {
	border-color: #666666 !important;
	border-bottom-style: solid !important;
	border-bottom-width: 1px !important;
	border-top-width: 0px !important;
	background: inherit !important;
	color: inherit !important;
}

td.ui-state-highlight a {
	color: inherit !important;
	text-decoration: underline !important;
}

td.ui-state-highlight .ui-icon {
	background-image: inherit !important;
}

tr.ui-state-hover {
	border-bottom-style: solid !important;
	border-bottom-width: 1px !important;
	border-top-width: 0px !important;
	color: inherit !important;
	background: inherit !important;
}

tr.ui-state-hover a {
	text-decoration: underline !important;
}