/* signal dialog style */
#signalPatternArea {
	margin-top: 10px;
}

#signalPatternItem {
	float: left;
}

#signalPatternValue {
	margin-left: 241px;
}

#signalName {
	width: 100%;
}

#matchingPattern {
	width: 100%;
}

#signalPatternValueArea {
	margin-top: 10px;
}

#signalPatternValueValue .dialogPatternValue div {
	float: left;
}

#signalPatternValueValue .dialogPatternValue input {
	margin-left: 20px;
	width: 100px;
}

#signalEscalationPeriodArea {
	margin-top: 10px;
}

#signalEscalationPeriodItem {
	float: left;
}

#signalEscalationPeriodValue {
	float: left;
}

#escalationPeriod {
	margin-left: 35px;
	width: 100px;
}

#signalEscalationPeriodUnit {
	margin-left: 289px;
}
