<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="jp.co.acroquest.endosnipe.web.explorer.dao.ReportExportResultDao">
	<insert id="insert" parameterType="jp.co.acroquest.endosnipe.web.explorer.entity.ReportDefinition">
		insert into
		REPORT_EXPORT_RESULT
		(REPORT_NAME,TARGET_MEASUREMENT_NAME,FM_TIME,TO_TIME, STATUS)
		values
		(#{reportName_},#{targetMeasurementName_},#{fmTime_},#{toTime_},#{status_})
	</insert>
</mapper>