<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="jp.co.acroquest.endosnipe.web.explorer.dao.SchedulingReportDefinitionDao">
	<resultMap id="SchedulingReportDefinitionMap"
		type="jp.co.acroquest.endosnipe.web.explorer.entity.SchedulingReportDefinition">
		<id property="reportId_" column="REPORT_ID" />
		<result property="reportName_" column="REPORT_NAME" />
		<result property="targetMeasurementName_" column="TARGET_MEASUREMENT_NAME" />
		<result property="term_" column="SCHEDULE_TERM" />
		<result property="time_" column="SCHEDULE_TIME" />
		<result property="day_" column="SCHEDULE_DAY" />
		<result property="date_" column="SCHEDULE_DATE" />
		<result property="planExportedTime_" column="PLAN_EXPORT_REPORT_TIME" />
	</resultMap>

	<insert id="insert"
		parameterType="jp.co.acroquest.endosnipe.web.explorer.entity.SchedulingReportDefinition">
		<if test="term_.equals('DAILY')">
			insert into SCHEDULING_REPORT_DEFINITION
			(REPORT_NAME,TARGET_MEASUREMENT_NAME,SCHEDULE_TERM,SCHEDULE_TIME,PLAN_EXPORT_REPORT_TIME)
			values
			(#{reportName_},#{targetMeasurementName_},#{term_},#{time_},#{planExportedTime_});
		</if>

		<if test="term_.equals('WEEKLY')">
			insert into SCHEDULING_REPORT_DEFINITION
			(REPORT_NAME,TARGET_MEASUREMENT_NAME,SCHEDULE_TERM,SCHEDULE_TIME,SCHEDULE_DAY,PLAN_EXPORT_REPORT_TIME)
			values
			(#{reportName_},#{targetMeasurementName_},#{term_},#{time_},#{day_},#{planExportedTime_});
		</if>
		<if test="term_.equals('MONTHLY')">
			insert into SCHEDULING_REPORT_DEFINITION
			(REPORT_NAME,TARGET_MEASUREMENT_NAME,SCHEDULE_TERM,SCHEDULE_TIME,SCHEDULE_DATE,PLAN_EXPORT_REPORT_TIME)
			values
			(#{reportName_},#{targetMeasurementName_},#{term_},#{time_},#{date_},#{planExportedTime_});
		</if>
	</insert>

	<select id="selectById" resultMap="SchedulingReportDefinitionMap">
		SELECT * FROM
		SCHEDULING_REPORT_DEFINITION
		where REPORT_ID
		= #{reportId_}
	</select>

	<select id="selectByName" resultMap="SchedulingReportDefinitionMap">
		SELECT * FROM
		SCHEDULING_REPORT_DEFINITION
		where REPORT_NAME
		= #{reportName_}
	</select>

	<update id="update"
		parameterType="jp.co.acroquest.endosnipe.web.explorer.entity.SchedulingReportDefinition">

		<if test="term_.equals('DAILY')">
			update SCHEDULING_REPORT_DEFINITION set
			REPORT_NAME =
			#{reportName_},
			TARGET_MEASUREMENT_NAME = #{targetMeasurementName_},
			SCHEDULE_TERM = #{term_},
			SCHEDULE_TIME = #{time_},
			SCHEDULE_DATE =
			#{date_},
			SCHEDULE_DAY = #{day_},
			PLAN_EXPORT_REPORT_TIME =
			#{planExportedTime_}
			where REPORT_ID
			= #{reportId_}

		</if>
		<if test="term_.equals('WEEKLY')"> update SCHEDULING_REPORT_DEFINITION
			set REPORT_NAME =
			#{reportName_},
			TARGET_MEASUREMENT_NAME = #{targetMeasurementName_},
			SCHEDULE_TERM = #{term_},
			SCHEDULE_TIME = #{time_},
			SCHEDULE_DATE =
			#{date_},
			SCHEDULE_DAY = #{day_},
			PLAN_EXPORT_REPORT_TIME =
			#{planExportedTime_}
			where REPORT_ID
			= #{reportId_}
		</if>
		<if test="term_.equals('MONTHLY')">
			update SCHEDULING_REPORT_DEFINITION set
			REPORT_NAME =
			#{reportName_},
			TARGET_MEASUREMENT_NAME =
			#{targetMeasurementName_},
			SCHEDULE_TERM = #{term_},
			SCHEDULE_TIME = #{time_},
			SCHEDULE_DATE =
			#{date_},
			SCHEDULE_DAY = #{day_},
			PLAN_EXPORT_REPORT_TIME =
			#{planExportedTime_}
			where REPORT_ID
			= #{reportId_}
		</if>
	</update>

	<select id="selectAll" resultMap="SchedulingReportDefinitionMap">
		SELECT * FROM
		SCHEDULING_REPORT_DEFINITION
	</select>
	
	<select id="selectAllByAgentName" resultMap="SchedulingReportDefinitionMap" parameterType="String">
		SELECT * FROM
		SCHEDULING_REPORT_DEFINITION
		where target_measurement_name 
		like #{agentName_}
	</select>
	
	<select id="selectBySchedule" resultMap="SchedulingReportDefinitionMap"
		parameterType="java.sql.Timestamp">
		SELECT * FROM
		SCHEDULING_REPORT_DEFINITION
		where
		PLAN_EXPORT_REPORT_TIME
		= #{currentTime}
	</select>
	<delete id="deleteById">
		delete from SCHEDULING_REPORT_DEFINITION
		where
		REPORT_ID
		= #{reportId_}
	</delete>
</mapper>
