<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="jp.co.acroquest.endosnipe.web.dashboard.dao.PropertySettingDao">
	<resultMap id="ReportDefinitionMap"
		type="jp.co.acroquest.endosnipe.web.dashboard.entity.PropertySettingDefinition">
		<result property="key" column="PROPERTY_SETTING_KEY" />
		<result property="value" column="PROPERTY_SETTING_VALUE" />
	</resultMap>


	<select id="selectByKey" resultMap="ReportDefinitionMap">
		SELECT * FROM
		PROPERTY_SETTING_DEFINITION
		where PROPERTY_SETTING_KEY
		= #{key}
	</select>
	
</mapper>
