<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.acroquest.endosnipe.web.dashboard.dao.SignalInfoDao">
	<resultMap id="SignalInfoMap"
		type="jp.co.acroquest.endosnipe.web.dashboard.entity.SignalInfo">
		<id property="signalId" column="SIGNAL_ID" />
		<result property="signalName" column="SIGNAL_NAME" />
		<result property="matchingPattern" column="matching_pattern" />
		<result property="level" column="LEVEL" />
		<result property="patternValue" column="PATTERN_VALUE" />
		<result property="escalationPeriod" column="ESCALATION_PERIOD" />
	</resultMap>

	<select id="selectAll" resultMap="SignalInfoMap">
		SELECT * FROM SIGNAL_DEFINITION
	</select>

	<select id="selectById" resultMap="SignalInfoMap">
		SELECT * FROM
		SIGNAL_DEFINITION
		where SIGNAL_ID
		= #{signalId}
	</select>

	<insert id="insert"
		parameterType="jp.co.acroquest.endosnipe.web.dashboard.entity.SignalInfo">
		insert into SIGNAL_DEFINITION
		(SIGNAL_NAME,MATCHING_PATTERN,LEVEL,PATTERN_VALUE,ESCALATION_PERIOD)
		values
		(#{signalName},#{matchingPattern},#{level},#{patternValue},#{escalationPeriod})
	</insert>

	<update id="update"
		parameterType="jp.co.acroquest.endosnipe.web.dashboard.entity.SignalInfo">
		update SIGNAL_DEFINITION set
		SIGNAL_NAME = #{signalName},
		MATCHING_PATTERN = #{matchingPattern},
		LEVEL = #{level},
		PATTERN_VALUE =
		#{patternValue},
		ESCALATION_PERIOD = #{escalationPeriod}
		where SIGNAL_ID
		= #{signalId}
	</update>

	<delete id="delete"
		parameterType="jp.co.acroquest.endosnipe.web.dashboard.entity.SignalInfo">
		delete from SIGNAL_DEFINITION
		where SIGNAL_ID =
		#{signalId}
	</delete>

	<delete id="deleteAll"
		parameterType="jp.co.acroquest.endosnipe.web.dashboard.entity.SignalInfo">
		delete from SIGNAL_DEFINITION
	</delete>

	<select id="selectSequenceNum" resultType="int">
		SELECT SIGNAL_ID FROM
		SIGNAL_DEFINITION
		where SIGNAL_NAME
		= #{signalName}
	</select>
</mapper>
